  <footer>
    <div class="footer-wrapper">
      <div class="footer-info">
        <ul>
          <li><a href="#"><i class="fa fa-laptop"></i>chris@whatawordisthis.com</a></li>
          <li><a href="#"><i class="fa fa-twitter"></i>@CKit_Eph2_8</a></li>
          <li><a href="#"><i class="fa fa-phone"></i>(256) 783-1169</a></li>
          <li><a href="#"><i class="fa fa-envelope"></i>901 County Rd. 251, Moulton, AL 35650</a></li>
        </ul>
      </div>
      <div class="footer-verse">
        <p><em>"For by grace are ye saved through faith; and that not of yourselves:it is the gift of God: Not of works, lest any man should boast."</em></p>
        <p><strong>Ephesians 2:8-9</strong></p>
      </div>
      <div class="footer-twitter"><a href="https://twitter.com/CKit_Eph2_8" data-widget-id="503030133184135168" class="twitter-timeline">My Tweets</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs")</script>
      </div>
      <div class="footer-menu">
        <div class="menu-wrapper"><a href="#">Blog</a><a href="#">Sermons</a><a href="#">Contact</a></div>
      </div>
      <div class="footer-footer">
        <p>Powered by <a href="http://sitesfor.church">Sitesfor.church</a></p>
      </div>
    </div>
  </footer><script src='js/main.js'></script>