<header>
    <div class="logo"><a href="{{site.url}}">
        <h1>Chris Kitchens</h1>
        <p>•Pastor &amp; Evangelist•</p></a></div>
    <nav>
      <ul>
        <li><a href="{{site.url}}about.html"><i class="fa fa-user"> </i>About</a></li>
        <li><a href="{{site.url}}blog-list.html"><i class="fa fa-book"> </i>Blog</a></li>
        <li><a href="{{site.url}}sermons.html"><i class="fa fa-microphone"> </i>Sermons</a></li>
        <li><a href="https://airtable.com/shrzgK7TBVkqb1yGy" target="_blank"><i class="fa fa-phone"> </i>Contact</a></li>
      </ul>
    </nav>
  </header>