<footer>
    <div class="footer-wrapper">
        <div class="footer-info">
        <h3>Cranesville Bible Church</h3>
        <p>Cranesville, PA</p>
        <div class="address">
            <p><i class="fi-map"></i>   10029 Reed St, Cranesville, PA 16410 <br>
                <i class="fi-telephone"></i>  (814) 746-5287 <br>
                <i class="fi-mail"></i>   info@cranesvillebiblechurch.com <br>
                <a href="#" title="sign in" class="footer-sign-in"><i class="fi-widget"></i> Manager Sign In</a>
            </p>
        </div><!--/address-->
    </div><!--/footer-info-->
    </div><!--/footer-wrapper-->
</footer>
</div><!--/ off canvas content wrapper-->
</div><!--/off canvas wrapper 2-->
</div><!--/ off canvas wrapper 1-->
<script src="{{ "/assets/js/app.js" | prepend: site.baseurl }}"></script>
</body>
</html>
