---
layout: default
---

<div class="sermonslistContent__header">
    <div class="wrapper">
        <h1>Sermons</h1>
        <h3>The Preaching Ministry of Bible Baptist Church</h3>
        </div><!--/sermonslistContent__header-->
    </div><!--/sermonlistContent__header-->
<div class="singleSeriesHeader">
    <h2>{{page.title}}</h2>
    {%if page.featured_image%}
    {% for img in page.featured_image %}
    <img class="singleSeriesHeader__mainImage" src="{{img.url}}" alt="{{page.title}}">
    {% endfor %}
    {% else %}
    <img class="singleSeriesHeader__mainImage" src="http://placehold.it/1920x1080" alt="Series Graphic">
    {% endif %}
</div><!--/singleSeriesHeader-->
<div class="singleSeriesContent">

    {% if page.description %}
    {{page.description | markdownify }}
    {% endif %}

</div><!--/singleSeriesContent-->
<div class="sermonslistContent singleSeriesPage">
    <div class="sermonslistContent__MainList">
        {% for sermon in site.data.sermons %}
      {% if sermon.series_title[0] == page.title %}
        <div class="sermonslistItem">
            <div class="sermonslistItem__teaser">
            <div class="sermonslistItem__title">
                <h3><a href="{{ sermon.title | datapage_url: 'sermons' | prepend: site.baseurl | prepend: site.url }}">{{sermon.title}}</a></h3>
                <ul class="action__buttons">
                    {% if sermon.sermon_mp3 %}
                    {% for item in sermon.sermon_mp3 %}
                    <li><a href="{{item.url}}" alt="play"><i class="fi-play"></i></a></li>
                    {% endfor %}
                    {% endif %}
                    {% if sermon.handout %}
                    {% for item in sermon.handout %}
                    <li><a href="{{item.url}}" alt="handout"><i class="fi-page-pdf"></i></a></li>
                    {% endfor %}
                    {% endif %}
                    {% if sermon.slides %}
                    {% for item in sermon.slides %}
                    <li><a href="{{item.url}}" alt="slides"><i class="fi-projection-screen"></i></a></li>
                    {% endfor %}
                    {% endif %}
                </ul><!--/action__buttons-->
                </div><!--/sermonslistItem__title-->
                <ul class="sermonslistItem__tagline">
                <li><i class="fi-calendar"></i> {{sermon.date}}</li>
                <li><i class="fi-clock"></i> {{sermon.service}}</li>
                <li><i class="fi-torso-business"></i> {{sermon.speaker_name}}</li>
                <li><i class="fi-book"></i> {{sermon.bible_text}}</li>
                </ul>
                <p class="sermonslistItem__description">{{sermon.body_content | truncate: 140 }}</p>
                {% if sermon.sermon_mp3 %}
                {% for item in sermon.sermon_mp3 %}
                <audio class="sermonslistPlayer" controls>
                    <source src="{{item.url}}" type="audio/mpeg">
                    Your browser does not support the audio element.
                    </audio>
                <a href="{{item.url}}" class="button warning" target="blank" download><i class="fi-download"></i> Download</a>
                {% endfor %}
                {% endif %}
                <a href="{{ sermon.title | datapage_url: 'sermons' | prepend: site.baseurl | prepend: site.url }}" class="button" >View Sermon</a>
            </div><!--/sermonslistItem__teaser-->
        </div><!--/sermonslistItem-->
        {% endif %}
     {% endfor %}
    </div><!--/end main list-->
</div><!--/sermonslistContent-->
{% include serieslist.html %}
