<div class="single-devotion">
    <div class="devo-wrapper">
        <img src="http://placehold.it/300x300" alt="">
        <div class="devo-content">
            <h3>Devotion Title</h3>
            <p><i class="fi fi-calendar"></i> Devotion Date  <i class="fi fi-results"></i> "The I Am's of Jesus"</p>
            <hr>
            <audio controls>
                <source src="horse.ogg" type="audio/ogg">
                <source src="horse.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi quaerat numquam, modi qui itaque magnam vitae corporis tenetur eos nostrum, eius obcaecati, delectus ratione laudantium error, aut nesciunt magni dignissimos.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid vel aliquam, fugiat, dolorem, dignissimos saepe fugit pariatur magni voluptate voluptatibus sit rerum laudantium. Magni, commodi blanditiis, recusandae veniam possimus voluptates.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis fuga in dolores amet distinctio consectetur voluptates rem adipisci provident doloribus. Ab amet suscipit eos. Fugiat, ipsam nobis dolorum repellendus doloremque.</p>
        </div>
    </div><!--/devo-header-->
</div><!--/single-devotion-->