<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    {% if  page.title %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>{{site.title}}</title>
    {% endif %}
     <link href='//fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css'>
      <link href='//fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
      <link href='//fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic,400italic,700italic,700,800,800italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <meta name="viewport" content="width=device-width"> 
  </head>